<!DOCTYPE html>
<html>
  <head>
    <title>Banbi-资讯</title>
    <link rel="icon" href="/images/favicon.ico" />
    <link rel='stylesheet' href='/css/common.css' />
    <link rel='stylesheet' href='/css/community.css' />
  </head>
  <body>
  <div class="container">
   <div class="header">
    <div class="h-container">
          <a class="logo"  href="/index.html" title="搬币姐首页"></a>
          <ul class="menu">
              <li ><a href="/index.html">行情</a></li>
              <li class="acive"><a href="/community.html">资讯</a></li> 
              <li><a href="">帮助</a></li>
          </ul>
          <!--<a class="register" href="">-->
              <!--<i class="icon icon_register"></i>-->
              <!--<span>注册</span>-->
          <!--</a>-->
          <!--<a class="login" href="">-->
              <!--<i class="icon icon_login"></i>-->
              <!--<span>登录</span>-->
          <!--</a>-->
      </div>
    </div>
    <div class="content">
        <div class="recommend">
            <p class="tit">推荐</p>
            <ul class="rec-list" >
                <li class="class-item">
                   <p class="title"><i class="ic ic-topic"></i>今日话题</p>
                    <a v-for="topic in topics" target="_blank" v-bind:href="['/details.html?id='+topic.notice_id]" v-bind:title="topic.title" class="">{{topic.title}}</a>
                </li>
                <li class="class-item">
                    <p class="title"><i class="ic ic-guide"></i>进阶指南</p>
                   <a v-for="guide in guides" target="_blank" v-bind:href="['/details.html?id='+guide.notice_id]" v-bind:title="guide.title" class="">{{guide.title}}</a>
                </li>
                <li class="class-item">
                    <p class="title"><i class="ic ic-ash"></i>骨灰玩家</p>
                   <a v-for="ash in ashs" target="_blank" v-bind:href="['/details.html?id='+ash.notice_id]" v-bind:title="ash.title" class="">{{ash.title}}</a>
                </li>
            </ul>
            <div class="picker">
                <p class="title">精选资讯</p>
                <a target="_blank" v-bind:href="['/details.html?id='+picked.notice_id]" v-bind:title="picked.title">
                    <p class="pick-title">{{picked.title}}</p>
                    <p class="desc"><span class="author">{{picked.author}}</span><span class="time">{{picked.create_time}}</span></p>
                    <p class="cont">{{picked.description}}</p>
                </a>
            </div>
        </div>
        <div class="information">
            <p class="tit">实时资讯</p>
            <ul class="info-list" v-if="items">
                <li class="info-item" v-for="item in items">
                    <a target="_blank" v-bind:href="['/details.html?id='+item.notice_id]" v-bind:title="item.title">
                        <p class="info-tit">{{item.title}}</p>
                        <p class="info-desc"><span class="info-author">{{item.author}}</span><span class="info-time">{{item.create_time |formatPassTime}}</span></p>
                        <p class="info-cont">{{item.description}}</p>
                    </a>
                </li>
                <li class="info-item last-item" >
                    <p class="loading hide">正在加载... </p>
                </li>
            </ul>
            <ul v-else>
                <li><p><br> /(ㄒoㄒ)/ ! 没有搜索到您要的数据 </p></li>
            </ul>
            
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/community.js"></script>
</body>
</html>